
<html lang="ja">
    <% include ../../assets/ejs/_header.ejs %>
    <body>
        <div class="full-container full-height telop-container">
            <video src="<%=require('./img/bg.mp4')%>" alt="" autoplay loop muted id="bg"></video>
            <div class="catch">
                <div class="catch_main">
                </div>
              </div>
        </div>
    </body>
</html>
<body>
    
</body>