<html lang="ja">
<% include ../../assets/ejs/_header.ejs %>

<body>
    <div class="full-container full-height telop-container">
        <div class="catch">
            <div class="catch_main">
                <svg class="">
                    <text x="50%" y="50%" class="text" text-anchor="middle" dominant-baseline="central">
                    
                    </text>
                </svg>

            </div>
        </div>
    </div>
</body>

</html>

<body>

</body>