<html lang="ja">
<% include ../../assets/ejs/_header.ejs %>

<body>
    <div class="full-container full-height telop-container">
        <div class="pad">
            <div class="pad_img">
                <!-- <img src="<%=require('./img/frame.png')%>" alt="" width="1151" height="905"> -->
            </div>
            <div class="pad_body">
                
            </div>
        </div>

    </div>
</body>

</html>

<body>

</body>