@import "~assets/scss/mixin";
@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");


.full-container {
    background: url(./img/frame.png) no-repeat center, url(./img/bg.jpg) repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}

.pad {

    &_body {
        position: absolute;
        width: 800px;
        height: 800px;
        text-align: center;
        display: flex;
        align-items: center;
        
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 50px;
        justify-content: space-between;

        &_part {
            transition: opacity 0.3s,transform 0.3s ease-in-out;
            opacity: 0;
            display: inline-block;
            font-family: 'Yuji Boku', serif;
            transform: scale(1.5);
            color: #222;
            &--visible {
                opacity: 1;
                transform:none;

            }
        }
    }

    &--visible {
        opacity: 1;
        transform: none;
    }
}

@include touchDevice() {
    .full-container {
        background-size: 80% auto,auto;
        
    }
    
.pad {

    &_body {
        position: absolute;
        width:50%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 40px;
        justify-content: space-between;

        &_part {
            transition: opacity 0.3s,transform 0.3s ease-in-out;
            opacity: 0;
            display: inline-block;
            font-family: 'Yuji Boku', serif;
            transform: scale(1.5);
            color: #222;
            &--visible {
                opacity: 1;
                transform:none;

            }
        }
    }

    &--visible {
        opacity: 1;
        transform: none;
    }
}
}