@import "~assets/scss/mixin";
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

.full-container {
    background-color: #000;
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}

.catch {
    font-size: 200px;
    text-align: center;

    &_main {
        position: relative;
        position: absolute;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;

        &_part {
            position: relative;
            font-family: "New Tegomin", "Shippori Mincho B1", "Times New Roman",
                "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro",
                "HGS明朝E", "メイリオ", "ＭＳ Ｐ明朝", "MS PMincho", Meiryo, serif;
            color: #940303;
            text-shadow: 0 0 3px #940303, 0 0 5px #940303, 0 0 8px #940303;
            transition: opacity 1.5s, filter 1s;
            display: inline-block;
            opacity: 0;
            filter: blur(50px);
            vertical-align: top;

            &--visible {
                opacity: 1;
                transform: none;
                filter: blur(0);
                //animation: shaking 0.5s infinite linear;
            }
        }
    }
}

@keyframes shaking {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(1px, 1px) ;
    }

    50% {
        transform: translate(0px, 1px);
    }

    75% {
        transform: translate(1px, 0px) ;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@include touchDevice() {
    .catch {
        font-size: 200px;
        text-align: center;

        &_part {
            text-shadow: 0 0 3px #940303, 0 0 5px #940303;
            &--visible {
                filter: blur(0);
                opacity: 1;
            }
        }
    }
}