@import "~assets/scss/mixin";

.full-container {
    //background: url(./img/bg.jpg) ;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}

.catch {
    font-size: 200px;
    text-align: center;

    &_main {
        position: relative;
        position: absolute;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        &_part {
            @include mincho();
            position: relative;
            transition:text-shadow 0.5s;
            display: inline-block;
            color:transparent;
            
            font-weight: bold;
            &--visible {
                text-shadow: 10px 10px 3px #fff, 0 0 #999;
                z-index: 1;
            }
        }
    }
}

@include touchDevice(){
    .catch {
        &_main {
            &_part {
                &--visible {
                    text-shadow: 2px 2px 2px #fff, 0 0 #999;
                }
            }
        }
    }
    
};