
<html lang="ja">
    <% include ../../assets/ejs/_header.ejs %>
    <body>
        <div class="full-container full-height telop-container">
            <div class="catch">
                <div class="catch_main">
                </div>
                <div class="catch_circle"></div>
              </div>
        </div>
    </body>
</html>
<body>
    
</body>