
<html lang="ja">
    <% include ../../assets/ejs/_header.ejs %>
    <body>
        <div class="full-container full-height telop-container">
            <canvas id="canvas"></canvas>
        </div>
    </body>
</html>
<body>
    
</body>