<head>
    <title>Teloppy テロッピー | 自分だけのリッチなメッセージを送ろう！</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta data-hid="description" name="description" content="テロッピーは、会員登録不要で自分だけのリッチなメッセージを送れるサービスです。使い方は簡単！メッセージを入力してURLをコピーするだけ">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="Teloppy テロッピー | 自分だけのリッチなメッセージを送ろう！">
    <meta property="og:site_name" content="Teloppy テロッピー">
    <meta property="og:type" content="website">
    <meta property="og:description" content="テロッピーは、会員登録不要で自分だけのリッチなメッセージを送れるサービスです。使い方は簡単！メッセージを入力してURLをコピーするだけ">
    <meta property="og:image" content="https://teloppy.com/img/fix/ogpLogo.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://www.googletagmanager.com/gtag/js?id=G-XSDBF18QPW" async=""></script>
    <script>
        (function() {
            if (window.location.host != "teloppy.com") return;
            if (window != window.parent) return;
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-XSDBF18QPW', {
                page_path: window.location.pathname,
                page_title:"telopページ"
            });
        })();
    </script>
</head>