<head>
    <title>Teloppy テロッピー | 自分だけのメッセージ動画を作ろう！</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta data-hid="description" name="description" content="テロッピーは、メッセージを入力するだけでMP4形式、またはGIF形式のオリジナルのメッセージ動画を作ることができるサービスです。">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex" />
    <meta property="og:title" content="メッセージが届きました！">
    <meta property="og:site_name" content="Teloppy テロッピー">
    <meta property="og:type" content="article">
    <meta property="og:description" content="テロッピーは、メッセージを入力するだけでMP4形式、またはGIF形式のオリジナルのメッセージ動画を作ることができるサービスです。">
    <meta property="og:image" content="https://teloppy.com/img/fix/ogpLogo.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://www.googletagmanager.com/gtag/js?id=G-XSDBF18QPW" async=""></script>
    <script>
        (function() {
            if (window.location.host != "teloppy.com") return;
            if (window != window.parent) return;
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-XSDBF18QPW', {
                page_path: window.location.pathname,
                page_title:"telopページ:"+window.location.pathname.replace('telops',"").replace(/\//g,"")
            });
        })();
    </script>
</head>