
<html lang="ja">
    <% include ../../assets/ejs/_header.ejs %>
    <body>
        <div class="full-container full-height telop-container">
            <div class="pad">
                <p class="pad_header">無題-メモ帳</p>
                <div class="pad_body">
                    
                </div>
                <div class="pad_footer"></div>
              </div>
          
        </div>
    </body>
</html>
<body>
    
</body>